/*
* {
	outline: 1px solid red;	
}
*/

body {
	background-color: black;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;	/*Ryu img 659px, Hadouken travel width cap */
	height: 500px;
}

/* Ryu Images */
.hadouken, .jquery-logo, .sf-logo, .ryu-cool, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat; /*Don't repeat images if container is larger then them*/
}

.ryu-container {
	float: left; /*To have Hadouken float left next to it*/
}

.ryu-cool, .ryu-ready, .ryu-still, .ryu-throwing {		/*Set alphabetically*/
	width: 659px;
	height: 494px;
}

.brought-by, .jquery-logo, .sf-logo, 
.ryu-cool, .ryu-ready, .ryu-throwing {
	display: none;
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');	
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;	
	position: relative;
	top: 167px;
	left: -212px;
}

/* Text Content */
.text-container {
	position: absolute;
	left: 650px;
	width: 700px;	
	height: 500px;

	outline: 1px solid red;
}

/* Intro */
.sf-logo {
	background-image: url('../images/sf-logo.png');	
	width: 682px;
	height: 314px;	
	margin-left: 8px;
	margin-top: 93px;
}

.brought-by {
	text-transform: uppercase;
	color: red;
	font-size: 48px;
	text-align: center;
	margin-top: 200px;
}

.jquery-logo {
	background-image: url('../images/jquery-logo.png');
	width: 500px;
	height: 172px;
	margin-left: 100px;
	margin-top: 164px;
}

/* Instructions */
.instructions {
	padding-top: 75px;
}

.instructions p {	
	text-transform: uppercase;
	color: black;
	font-size: 26px;
	line-height: 40px;
	width: 50%;
}

.instructions p + p {
	margin-left: 275px;
	margin-top: 30px;
}