body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;	/*Ryu img 659px, Hadouken travel width cap */
	height: 500px;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat; /*Don't repeat images if container is larger then them*/
}

.ryu-container {
	float: left; /*To have Hadouken float left next to it*/
}

.ryu-ready,	.ryu-still, .ryu-throwing {		/*Set alphabetically*/
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');	
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;	
	position: relative;
	top: 167px;
	left: -212px;
}